{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing</h2>
    <!-- Particular Listing:
    Details: 
    Title 
    Description
    Starting Bid Price        
    URL 
    Category  -->
    
    <!-- IF THE USER IS SIGNED IN -->
    
        <!-- option to add item on the watchlist 
        if the item already on watchlist, then option to remove it -->

        <!-- Bidding option {only if the user is signed in} -->

        <!-- close auction option -->

        <!-- Auction winning Banner -->

        <!-- COMMENT PAGE -->
    TODO
{% endblock %}